{% extends 'base.html' %}
{% block title %}Cart{% endblock title %}

{% block content %}

<section class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
<h3 class="tw-tw-text-lg tw-tw-font-semibold">Cart</h3>
<div class="container p-4 tw-rounded-xl tw-bg-gray-50 box-shadow-custom">
	<div class="row pb-2">
		<div class="col-3 tw-text-lg tw-font-semibold">Product</div>
		<div class="col-3 tw-text-lg tw-font-semibold">Price</div>
		<div class="col-3 tw-text-lg tw-font-semibold">Quantity</div>
		<div class="col-3 tw-text-lg tw-font-semibold">Total</div>
	</div>
	<hr>
	{% for pedido in pedidos %}
		<div class="row pt-1 align-items-center">
			<div class="col-3"><a href="{% url 'item:detail' pedido.item.id %}" target="_blank">{{ pedido.item.name }}</a></div>
			<div class="col-3">${{ pedido.item.price }}</div>
			<div class="col-3">
				<form action="" method="POST">
					<div class="d-flex">
						<div class="d-flex col-6 justify-content-between align-items-start">
							{% csrf_token %}
							{% if pedido.quantity > 1 %}
								<button name="subtract" value="{{ pedido.id }}" type="submit" class="tw-inline-block tw-pr-3"><i class="bi bi-dash-lg"></i></button>
							{% else %}
								
								<button name="delete" value="{{ pedido.id }}" type="commit" class="tw-inline-block">
									<i class="bi bi-trash3 delete-button-custom"></i>
									<i class="bi bi-trash3-fill delete-button-custom2"></i>
								</button>
							{% endif %}

							<p class="tw-inline-block">{{ pedido.quantity }}</p>
							
							<button name="add" value="{{ pedido.id }}" type="submit" class="tw-inline-block tw-pl-3"><i class="bi bi-plus-lg"></i></button>
						</div>
					</div>
				</form>				
			</div>
			<div class="col-2">${{ pedido.get_total_pedido }}</div>	
			<div class="col">
				<form action="" method="POST">
					{% csrf_token %}
					<button name="delete" value="{{ pedido.id }}" type="commit" class="tw-inline-block">
						<i class="bi bi-x-circle delete-button-custom"></i>
						<i class="bi bi-x-circle-fill delete-button-custom2"></i>
					</button>
				</form>	
			</div>
		</div>	
	{% empty %}
		<div class="row pt-2">
			<div class="col tw-text-lg tw-font-semibold">-</div>
			<div class="col tw-text-lg tw-font-semibold">-</div>
			<div class="col tw-text-lg tw-font-semibold">-</div>
			<div class="col tw-text-lg tw-font-semibold">-</div>
		</div>
	{% endfor %}

</div>

<br>
<div class="container p-4 tw-rounded-xl tw-bg-gray-50 box-shadow-custom">
	<h4 class="tw-text-lg tw-font-semibold pb-2">Summary</h4>
	<hr>

	<div class="row pt-1">
		<p>${{ total }} - {{ quantities }} items</p>
	</div>

{% if pedidos %}
	<div class="row">
		<div class="col-md-3">
			{{ paypal_form.render }}
		</div>

		<div class="col-md-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
			<!-- Button trigger modal -->
			<button id="tooltipBtn" type="button" class="px-4 py-3 mx-2 tw-text-lg tw-font-semibold tw-bg-red-500 text-white rounded-pill hover:tw-bg-red-700" data-bs-placement="right" title="Click here before to continue with the purchase process!" data-bs-toggle="tooltip">
			  Credentials For Paypal Account
			</button>
		</div>
	</div>
{% endif %}
</div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Credentials For Paypal Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
            To simulate a "natural" process of payment, I provide the credentials for a personal PayPal sandbox account. No real payment will be made, so don't worry about the prices 😉
        </p>

        <br>

        <div class="copy-link row my-3">
            <b class="d-block col-3">Email: </b><input type="text" class="copy-link-input col-6" value="test.personal@email.com" readonly> 

            <button type="button" class="copy-link-button col-3">
              <i class="bi bi-copy"></i>
            </button>
        </div>

        <div class="copy-link row my-3">
            <b class="d-block col-3">Password: </b><input type="text" class="copy-link-input col-6" value="drowssap123!" readonly> 

            <button type="button" class="copy-link-button col-3">
              <i class="bi bi-copy"></i>
            </button>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock content %}