{% extends 'base.html' %}

{% block title %}{{ item.name }}{% endblock title %}

{% block content %}
<div class="container">
	<div class="row">

	<div class="col-12 col-md-4 mb-3 text-center">
		<img src="{{ item.image.url }}" class="tw-rounded-xl detail-image">
	</div>

	<div class="col-12 col-md-8 tw-p-6 tw-bg-gray-100 tw-rounded-xl mb-3">
		<h1 class="tw-mb-6 tw-text-3xl">{{ item.name }}</h1>
		<p class="tw-text-gray-500"><strong>Price: </strong>{{ item.price }}</p>
		<p class="tw-text-gray-500"><strong>Seller: </strong>{{ item.created_by.username }}</p>

		{% if item.description %}
			<p class="tw-text-gray-700">
				<strong class="tw-text-gray-500">Description:</strong><br>
				{{ item.description }}
			</p>
		{% endif %}

		
		{% if request.user == item.created_by %}
			<div class="tw-mt-6 tw-p-6 tw-bg-white tw-rounded-xl">
				<p>This is your item</p>

				<a href="{% url 'item:edit' item_id=item.id %}" class="tw-inline-block tw-mt-6 tw-px-6 tw-py-3 tw-text-lg tw-font-semibold tw-bg-teal-500 text-white tw-rounded-xl hover:tw-bg-teal-700">Edit</a>

				<a href="{% url 'item:delete' item_id=item.id %}" class="tw-inline-block tw-mt-6 tw-px-6 tw-py-3 tw-text-lg tw-font-semibold tw-bg-red-500 text-white tw-rounded-xl hover:tw-bg-red-700">Delete</a>
			</div>
		
		{% else %}
			{% if show %}
				<form action="" method="POST">
					{% csrf_token %}
					<button id="add-cart" value="" type="commit" class="tw-inline-block tw-px-6 tw-mt-6 tw-py-3 tw-text-lg tw-font-semibold tw-bg-cyan-500 text-white tw-rounded-xl hover:tw-bg-cyan-700">Add To Cart</button>
				</form>
			{% else %}
				<form action="" method="POST">
					{% csrf_token %}
					<button id="" value="" type="commit" class="tw-inline-block tw-mt-6 tw-px-6 tw-py-3 tw-text-lg tw-font-semibold tw-bg-emerald-500 text-white tw-rounded-xl hover:tw-bg-emerald-700">Remove From Cart</button>
				</form>
			{% endif %}
			<hr class="tw-m-3">

			<a href="{% url 'conversation:new' item_id=item.id %}" class="tw-inline-block tw-px-6 tw-py-3 tw-text-lg tw-font-semibold tw-bg-teal-500 text-white tw-rounded-xl hover:tw-bg-teal-700">Contact seller</a>

		{% endif %}

	</div>
	</div>
</div>

{% if releted_items %}
	<div class="tw-mt-6 tw-px-6 tw-py-12 tw-bg-gray-100 tw-rounded-xl">
        <h2 class="tw-mb-12 tw-text-2xl tw-text-center">Newest Items</h2>
        <div class="row" data-masonry='{"percentPosition": true }'>
            {% for item in releted_items %}
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="card-custom tw-rounded-t-xl">
                        <a href="{% url 'item:detail' item_id=item.id %}">
                            <div class="card-custom-image tw-rounded-t-xl">
                                <img src="{{ item.image.url }}" class="tw-rounded-t-xl">
                            </div>

                            <div class="tw-p-6 tw-bg-white tw-rounded-b-xl">
                                <h2 class="tw-text-2xl">{{ item.name }}</h2>
                                <p class="tw-text-gray-500">Price: {{ item.price }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

<script type="text/javascript">
//check if button pressed
	$(document).on("click", "#add-cart", function(e){
		e.preventDefault();
		$.ajax({
			type: "POST",
			url: "{% url 'cart:cart' %}",
			data: {
				data: $("#add-cart").val(),
				csrfmiddlewaretoke: "{ csrf_token }",
				action: "post"
			},

			success: function(json){
				console.log(json)
			},

			error: function(xhr, errmsg, err)
		})
	});
</script>

{% endif %}


{% endblock content %}